model_config_list {
  config {
    name: 'my_housing_model'
    base_path: '/file_created_to_serve_multiple_model/my_housing_model/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'my_housing_model_0002'
    base_path: '/file_created_to_serve_multiple_model/my_housing_model_0002/'  # Assuming a different base path for the other model
    model_platform: 'tensorflow'
  }
}
